root = true

# Don't use tabs for indentation.
[*]
indent_style = space

# XML files
[*.{csproj,props,targets}]
indent_size = 2

# Dotnet code style settings:
[*.cs]
indent_size = 4
insert_final_newline = true
charset = utf-8

# IDE0160: Convert to file-scoped namespace
csharp_style_namespace_declarations = file_scoped:warning

# IDE0130: Namespace does not match folder structure
dotnet_style_namespace_match_folder = false

# Constants are PascalCase
dotnet_naming_rule.constants_should_be_pascal_case.severity = warning
dotnet_naming_rule.constants_should_be_pascal_case.symbols = constants
dotnet_naming_rule.constants_should_be_pascal_case.style = constant_style

dotnet_naming_symbols.constants.applicable_kinds = field, local
dotnet_naming_symbols.constants.required_modifiers = const

dotnet_naming_style.constant_style.capitalization = pascal_case

# Instance fields, locals and parameters are camelCase
dotnet_naming_rule.field_and_locals_and_parameters_should_be_camel_case.severity = warning
dotnet_naming_rule.field_and_locals_and_parameters_should_be_camel_case.symbols = field_and_locals_and_parameters
dotnet_naming_rule.field_and_locals_and_parameters_should_be_camel_case.style = field_local_parameter_style

dotnet_naming_symbols.field_and_locals_and_parameters.applicable_kinds = field, parameter, local

dotnet_naming_style.field_local_parameter_style.capitalization = camel_case

# By default, name items with PascalCase
dotnet_naming_rule.members_should_be_pascal_case.severity = warning
dotnet_naming_rule.members_should_be_pascal_case.symbols = all_members
dotnet_naming_rule.members_should_be_pascal_case.style = pascal_case_style

dotnet_naming_symbols.all_members.applicable_kinds = *

dotnet_naming_style.pascal_case_style.capitalization = pascal_case

# Default severity for all analyzers
dotnet_analyzer_diagnostic.severity = warning

# IDE0046: Convert to conditional expression
dotnet_diagnostic.IDE0046.severity = silent

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none

# CS0649: Field is never assigned to, and will always have its default value
dotnet_diagnostic.CS0649.severity = none

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none