name: Validate Pull Request

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  builds:
    name: Builds
    runs-on: ubuntu-latest
    steps:
    
    - uses: actions/checkout@v3
        
    - name: Set up .NET
      uses: actions/setup-dotnet@v3.0.3
      with:
        dotnet-version: 6.0.x
      env:
        DOTNET_NOLOGO: true
        DOTNET_CLI_TELEMETRY_OPTOUT: true
        
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build --no-restore -warnaserror