name: Validate Pull Request

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  builds:
    name: Builds
    runs-on: ubuntu-latest
    steps:
    
    - uses: actions/checkout@v6
        
    - name: Set up .NET
      uses: actions/setup-dotnet@v5.1.0
      env:
        DOTNET_NOLOGO: true
        DOTNET_CLI_TELEMETRY_OPTOUT: true
        
    - name: Build
      run: sh build.sh
